<%-include('header');-%>
    <body>
        <div class='box' id='heading'>
            <h1><%=listTitle%></h1>
        </div> 
       <div class="box">
           <% for(let i=0; i< itemL;i++){%>
        <div class="item">
            <input type="checkbox">
           <p><%=nI[i]%> </p>
        </div>
           <% } %>
           <form  class="item" action="/" method="POST">
            <input type="text" name='newItem' placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%=listTitle%>>+</button>
        </form>
        </div>
    </body>
    <%-include('footer');-%>
</html>